[submodule "eagleye_util/kml_generator"]
	path = eagleye_util/kml_generator
	url = https://github.com/MapIV/kml_generator
[submodule "eagleye_pp/common/multi_rosbag_controller"]
	path = eagleye_pp/common/multi_rosbag_controller
	url = https://github.com/MapIV/multi_rosbag_controller.git

[submodule "eagleye_util/llh_converter"]
	path = eagleye_util/llh_converter
	url = https://github.com/MapIV/llh_converter
