<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <arg name="_gps_x" default="1.5"/>
  <arg name="_gps_y" default="-0.5"/>
  <arg name="_gps_z" default="1.5"/>
  <arg name="_gps_yaw" default="0.0"/>
  <arg name="_gps_pitch" default="0.0"/>
  <arg name="_gps_roll" default="0.0"/>
  <arg name="_gps_child_frame_id" default="base_link"/>
  <arg name="_gps_frame_id" default="gps"/>
  <arg name="_gps_period_in_ms" default="10"/>

  <arg name="_imu_x" default="0.0"/>
  <arg name="_imu_y" default="-0.3"/>
  <arg name="_imu_z" default="0.5"/>
  <arg name="_imu_yaw" default="0.0"/>
  <arg name="_imu_pitch" default="0.0"/>
  <arg name="_imu_roll" default="0.0"/>
  <arg name="_imu_frame_id" default="imu"/>
  <arg name="_imu_child_frame_id" default="base_link"/>
  <arg name="_imu_period_in_ms" default="10"/>

  <param name="gps_x" value="$(arg _gps_x)"/>
  <param name="gps_y" value="$(arg _gps_y)"/>
  <param name="gps_z" value="$(arg _gps_z)"/>
  <param name="gps_yaw" value="$(arg _gps_yaw)"/>
  <param name="gps_pitch" value="$(arg _gps_pitch)"/>
  <param name="gps_roll" value="$(arg _gps_roll)"/>
  <param name="gps_child_frame_id" value="$(arg _gps_child_frame_id)"/>
  <param name="gps_frame_id" value="$(arg _gps_frame_id)"/>
  <param name="gps_period_in_ms" value="$(arg _gps_period_in_ms)"/>

  <param name="imu_x" value="$(arg _imu_x)"/>
  <param name="imu_y" value="$(arg _imu_y)"/>
  <param name="imu_z" value="$(arg _imu_z)"/>
  <param name="imu_yaw" value="$(arg _imu_yaw)"/>
  <param name="imu_pitch" value="$(arg _imu_pitch)"/>
  <param name="imu_roll" value="$(arg _imu_roll)"/>
  <param name="imu_frame_id" value="$(arg _imu_frame_id)"/>
  <param name="imu_child_frame_id" value="$(arg _imu_child_frame_id)"/>
  <param name="imu_period_in_ms" value="$(arg _imu_period_in_ms)"/>

  <node pkg="tf" type="static_transform_publisher" name="baselink_gps" args="$(arg _gps_x) $(arg _gps_y) $(arg _gps_z) $(arg _gps_yaw) $(arg _gps_pitch) $(arg _gps_roll) $(arg _gps_child_frame_id) $(arg _gps_frame_id) $(arg _gps_period_in_ms)" />
  <node pkg="tf" type="static_transform_publisher" name="baselink_imu" args="$(arg _imu_x) $(arg _imu_y) $(arg _imu_z) $(arg _imu_yaw) $(arg _imu_pitch) $(arg _imu_roll) $(arg _imu_child_frame_id) $(arg _imu_frame_id) $(arg _imu_period_in_ms)" />
</launch>
