#ã€€Timestamp Sorting Availability
timestamp_sort: true
# true: Look at the timestamp and determine the order of the buffers
# false: Determine the order of the contents of the rosbag (This should be used when the time stamp is not recorded correctly)
  
# Output of Eagleye estimated parameters
output_log: true

# Distance interval in the kml file to output eagleye estimation results [m]
interval_plot: 5
interval_line: 1

# Select whether to convert the height.
convert_height_num: 0
# 0 : No convert  1 : ellipsoid -> altitude  2 : altitude -> ellipsoid

# Selecting the kml file to output eagleye estimation results
# plot is processing heavy, but it can display the states at that time at each point
output_kml_eagleye_forward_plot: false
output_kml_eagleye_backward_plot: false
output_kml_eagleye_pp_plot: false
output_kml_rtklib_plot: true
output_kml_gnss_plot: true
output_kml_eagleye_forward_line: true
output_kml_eagleye_backward_line: true
output_kml_eagleye_pp_line: true

#Estimate mode
gnss:
  use_gnss_mode: RTKLIB  #Estimate mode
  ## RTKLIB (rtklib) or NMEA (nmea)
  ## The NMEA(nmea) mode eliminates the need to enter topics of type rtklib into eagleye, but may reduce accuracy.
  use_nmea_downsample: true
  nmea_downsample_freq: 5
  base_link2gnss:
    x: 0.0
    y: 0.0
    z: 0.0
    roll: 0 # [rad]
    pitch: 0 # [rad]
    yaw: 0 # [rad]

imu:
  base_link2imu:
    x: 0.0
    y: 0.0
    z: 0.0
    roll: 0 # [rad]
    pitch: 0 # [rad]
    yaw: 0 # [rad]

use_canless_mode: false  #Estimate mode

# Topic
twist_topic: /can_twist
imu_topic: /imu/data_raw
rtklib_nav_topic: /rtklib_nav
## If RTK positioning is not used, the following topic settings are not necessary.
## Forward/backward smoothing is not possible without nmea_msgs/Sentence.
nmea_sentence_topic: /nmea_sentence
gga_topic: /navsat/gga
rmc_topic: /navsat/rmc

# Origin of GNSS coordinates (ECEF to ENU)
ecef_base_pos:
  x : 0.0                               
  y : 0.0
  z : 0.0
  use_ecef_base_position : false

# Eagleye Navigation Parameters
# Basic Navigation Functions
common:
  imu_rate: 50
  gnss_rate: 5
  stop_judgment_threshold: 0.01
  slow_judgment_threshold: 0.278
  moving_judgment_threshold: 2.78
  
velocity_scale_factor:                                
  estimated_minimum_interval: 20
  estimated_maximum_interval: 400
  gnss_receiving_threshold: 0.25
  velocity_scale_factor_save_str: /config/velocity_scale_factor.txt
  save_velocity_scale_factor: false                    
  velocity_scale_factor_save_duration: 100.0          

yawrate_offset_stop:                                  
  estimated_interval: 4
  outlier_threshold: 0.002

yawrate_offset:                                       
  estimated_minimum_interval: 30
  gnss_receiving_threshold: 0.25
  outlier_threshold: 0.002
  1st:
    estimated_maximum_interval: 300
  2nd:
    estimated_maximum_interval: 500

heading:                                             
  estimated_minimum_interval: 10
  estimated_maximum_interval: 30
  gnss_receiving_threshold: 0.25
  outlier_threshold: 0.0524                         
  outlier_ratio_threshold: 0.5
  curve_judgment_threshold: 0.0873
  init_STD: 0.0035 #[rad] (= 0.2 [deg])

heading_interpolate:
  sync_search_period: 2
  proc_noise: 0.0005 #[rad] (= 0.03 [deg])

slip_angle:
  manual_coefficient: 0.0                             

slip_coefficient:
  estimated_minimum_interval: 2
  estimated_maximum_interval: 100
  curve_judgment_threshold: 0.017453
  lever_arm: 0.26                                     

rolling:
  filter_process_noise: 0.01
  filter_observation_noise: 1

trajectory:
  curve_judgment_threshold: 0.017453
  timer_updata_rate: 10       
  deadlock_threshold: 1
  sensor_noise_velocity: 0.05
  sensor_scale_noise_velocity: 0.02
  sensor_noise_yawrate: 0.01
  sensor_bias_noise_yawrate: 0.1

smoothing:
  moving_average_time: 3
  moving_ratio_threshold: 0.1

height:
  estimated_minimum_interval: 200
  estimated_maximum_interval: 2000
  update_distance: 0.1
  gnss_receiving_threshold: 0.1
  outlier_threshold: 0.3
  outlier_ratio_threshold: 0.5
  moving_average_time: 1

position:
  estimated_interval: 300
  update_distance: 0.1
  outlier_threshold: 3.0
  gnss_receiving_threshold: 0.25
  outlier_ratio_threshold: 0.5

position_interpolate:
  sync_search_period: 2

# Optional Navigation Functions
angular_velocity_offset_stop:                         
  estimated_interval: 4
  outlier_threshold: 0.002

rtk_deadreckoning:
  rtk_fix_STD: 0.3 #[m]
  proc_noise: 0.05 #[m]

rtk_heading:                                          
  update_distance: 0.3
  estimated_minimum_interval: 10
  estimated_maximum_interval: 30
  gnss_receiving_threshold: 0.25
  outlier_threshold: 0.0524
  outlier_ratio_threshold: 0.5
  curve_judgment_threshold: 0.0873

enable_additional_rolling:
  update_distance: 0.3
  moving_average_time: 1
  sync_judgment_threshold: 0.01
  sync_search_period: 1

velocity_estimator:
  gga_downsample_time: 0.5
  stop_judgment_velocity_threshold: 0.2 
  stop_judgment_interval: 1
  variance_threshold: 0.000025
  pitchrate_offset:
    estimated_interval: 8
  pitching:
    estimated_interval: 5
    outlier_threshold: 0.0174
    gnss_receiving_threshold: 0.2
    outlier_ratio_threshold: 0.5
  acceleration_offset:
    estimated_minimum_interval: 30
    estimated_maximum_interval: 500
    filter_process_noise: 0.01
    filter_observation_noise: 1
  doppler_fusion:
    estimated_interval: 4
    gnss_receiving_threshold: 0.2
    outlier_ratio_threshold: 0.5
    outlier_threshold: 0.1