<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="use_multi_antenna_mode" default="true"/>
  <arg name="yaml_file" default="$(find eagleye_rt)/config/eagleye_config.yaml"/>
  
  <rosparam command="load" file="$(arg yaml_file)"/>
  
  <group ns="navsat">
    <node pkg="eagleye_gnss_converter" name="gnss_converter_node" type="gnss_converter_node" output="log">
          <!-- Twist Covariance Threshold in geometry_msgs/TwistWithCovarianceStamped -->
          <param name="twist_covariance_thresh" value="0.2"/>
          <!-- Vertical Accuracy Estimate Threshold [mm/s] in ublox_msgs/NavPVT -->
          <param name="ublox_vacc_thresh" value="200.0"/>
          <param name="is_sub_antenna"  value="false"/>
          <param name="yaml_file" value="$(arg yaml_file)"/>
    </node>
  </group>

  <group ns="sub_navsat" if="$(arg use_multi_antenna_mode)">
    <node pkg="eagleye_gnss_converter" name="sub_gnss_converter_node" type="gnss_converter_node" output="log">
          <!-- Twist Covariance Threshold in geometry_msgs/TwistWithCovarianceStamped -->
          <param name="twist_covariance_thresh" value="0.2"/>
          <!-- Vertical Accuracy Estimate Threshold [mm/s] in ublox_msgs/NavPVT -->
          <param name="ublox_vacc_thresh" value="100.0"/>
          <param name="is_sub_antenna" value="true"/>
          <param name="yaml_file" value="$(arg yaml_file)"/>
    </node>
  </group>

</launch>
