<?xml version="1.0"?>
<robot name="vehicle"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="config_dir" default="$(find eagleye_tf)"/>
  <xacro:property name="calibration" value="${xacro.load_yaml,('$(arg config_dir)/config/sensors_tf.yaml')}"/>
  <xacro:property name="size" value="1" />

  <!-- base_link -->
  <link name="${calibration['basic_parent_flame']}">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${size} ${size} ${size}" />
      </geometry>
    </visual>
  </link>

  <!-- imu -->
  <xacro:macro name="imu" params="parent x y z roll pitch yaw">
    <xacro:property name="imu_link" default="${calibration['base_link2imu']['child']}"/>

    <joint name="${imu_link}_joint" type="fixed">
      <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child link="${imu_link}"/>
    </joint>
    <link name="${imu_link}">
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>
  </xacro:macro>

  <xacro:imu parent="${calibration['basic_parent_flame']}" x="${calibration['base_link2imu']['x']}" y="${calibration['base_link2imu']['y']}" z="${calibration['base_link2imu']['z']}" roll="${calibration['base_link2imu']['roll']}" pitch="${calibration['base_link2imu']['pitch']}" yaw="${calibration['base_link2imu']['yaw']}" />

  <!-- gnss -->
  <xacro:macro name="gnss" params="parent x y z roll pitch yaw">
    <xacro:property name="gnss_link" default="${calibration['base_link2gnss']['child']}"/>

    <joint name="${gnss_link}_joint" type="fixed">
      <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child link="${gnss_link}"/>
    </joint>
    <link name="${gnss_link}">
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>
  </xacro:macro>

  <xacro:gnss parent="${calibration['basic_parent_flame']}" x="${calibration['base_link2gnss']['x']}" y="${calibration['base_link2gnss']['y']}" z="${calibration['base_link2gnss']['z']}" roll="${calibration['base_link2gnss']['roll']}" pitch="${calibration['base_link2gnss']['pitch']}" yaw="${calibration['base_link2gnss']['yaw']}" />


</robot>
