<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <arg name="filename" default="$(find eagleye_fix2kml)/kml/eagleye_fix.kml"/>
  <arg name="kmlname" default="Eagleye"/>
  <arg name="fixname" default="/eagleye/fix"/>
  <arg name="color" default="ff0000ff"/>

  <node pkg="eagleye_fix2kml" name="fix2kml" type="fix2kml">
    <param name="filename" value="$(arg filename)"/>
    <param name="fixname" value="$(arg fixname)"/>
    <param name="kmlname" value="$(arg kmlname)"/>
    <param name="color" value="$(arg color)"/>
  </node>


</launch>
