<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <rosparam command="load" file="$(find eagleye_rt)/config/eagleye_config.yaml"/>

  <arg name="pub_fix_topic_name" default="/navsat/fix"/>
  <arg name="pub_gga_topic_name" default="/navsat/gga"/>
  <arg name="pub_rmc_topic_name" default="/navsat/rmc"/>
  <arg name="output_gga" default="true"/>
  <arg name="output_rmc" default="true"/>

  <node pkg="eagleye_nmea2fix" name="nmea2fix_node" type="nmea2fix_node" output="screen">
    <param name="pub_fix_topic_name" value="$(arg pub_fix_topic_name)"/>
    <param name="pub_gga_topic_name" value="$(arg pub_gga_topic_name)"/>
    <param name="pub_rmc_topic_name" value="$(arg pub_rmc_topic_name)"/>
    <param name="output_gga" value="$(arg output_gga)"/>
    <param name="output_rmc" value="$(arg output_rmc)"/>
  </node>

</launch>
